<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="" viewBox="0 0 500 500">
  <circle style="fill:#413b91" cx="250" cy="250" r="245" />
  <text x="50%" y="50%" cx="250" fill="white" cy="250" text-anchor="middle" font-size="20em" dy=".3em">{{pageNumber}}</text>
</svg>